    @media (max-width: 600px) {
        .wrapper {
            .first {
                .first_header_wrapper {
                    .first_header {
                        min-height: 80px;
                        .first_header_burger {
                            .menu_box {
                                width: 100%;
                            }
                        }
                    }
                }
                .first_main_wrapper {
                    .first_main {
                        .first_main_slider {
                            height: 350px;
                            .carousel-item {
                                padding: 5px 50px;
                                .first_main_slider_text {
                                    font-size: 36px;
                                }
                                .first_main_slider_text_bottom {
                                    font-size: 18px;
                                }
                            }
                            .first_main_pointer {
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }
            .second {
                .second_header_wrapper {
                    .second_header {
                        .header_title {
                            h1 {
                                font-size: 32px;
                                margin: 24px 0 12px;
                            }
                        }
                        .header_text {
                            p {
                                width: 85%;
                            }
                        }
                        .second_header_cards {
                            margin: 25px 0 14px;
                            flex-direction: column;
                            .second_header_card {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
                .second_footer_wrapper {
                    .second_footer {
                        .second_footer_left {
                            max-height: none;
                            h1 {
                                font-size: 24px;
                            }
                            p {
                                margin: 10px 25px 24px;
                            }
                            .second_footer_left_button {
                                margin-bottom: 10px;
                            }
                        }
                        .second_footer_right {
                            display: none;
                        }
                    }
                }
            }
            .third {
                .third_header_wrapper {
                    .third_header {
                        .header_title {
                            h1 {
                                font-size: 32px;
                                margin: 24px 0 12px;
                            }
                        }
                        .header_text {
                            p {
                                width: 85%;
                            }
                        }
                        .third_header_nav {
                            grid-template-columns: repeat(1, 90%);
                            margin: 24px 0 15px;
                            height: auto;
                        }
                    }
                }
                .third_main_wrapper {
                    .third_main {
                        grid-template-rows: repeat(1, 175px);
                    }
                }
                .third_footer_wrapper {
                    .third_footer {
                        .carousel-wrapper {
                            height: 180px;
                            .carousel-item {
                                top: 22%;
                                padding: 10px 30px;
                            }
                            .item-1 {
                                .third_slider2,
                                .third_slider3 {
                                    display: none;
                                }
                            }
                            .item-2 {
                                .third_slider1,
                                .third_slider3 {
                                    display: none;
                                }
                            }
                            .item-3 {
                                .third_slider1,
                                .third_slider2 {
                                    display: none;
                                }
                            }
                            .item-4 {
                                .third_slider2,
                                .third_slider3 {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            .fourth {
                .fourth_header_wrapper {
                    .fourth_header {
                        .header_title {
                            h1 {
                                font-size: 32px;
                                margin: 24px 0 12px;
                            }
                        }
                        .header_text {
                            p {
                                width: 85%;
                            }
                        }
                        .fourth_header_portfolio {
                            flex-direction: column;
                            height: auto;
                            margin: 24px 0 35px;
                            .fourth_header_portfolio_one {
                                .fourth_header_portfolio_one_photo {
                                    margin: 24px 93px 15px;
                                }
                                .fourth_header_portfolio_one_links {
                                    margin-bottom: 15px;
                                }
                                .fourth_header_portfolio_one_slider {
                                    margin-bottom: 24px;
                                }
                            }
                            .fourth_header_portfolio_two {
                                width: 100%;
                                padding: 24px 20px 10px;
                                margin-top: 10px;
                                h2 {
                                    margin-bottom: 14px;
                                }
                                .fourth_header_portfolio_two_text {
                                    margin-bottom: 24px;
                                }
                                .fourth_header_portfolio_two_loaders {
                                    .fourth_header_portfolio_two_loader {
                                        .fourth_loder_wrapper {
                                            width: 40%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .fourth_footer_wrapper {
                    .fourth_footer {
                        .footer_title {
                            h1 {
                                font-size: 24px;
                                margin: 24px 0 12px;
                                text-align: center;
                                .footer_border_bottom {
                                    margin-top: 10px;
                                }
                            }
                        }
                        .fourth_footer_items_wrapper {
                            flex-wrap: wrap;
                            margin: 15px 0 0;
                            .fourth_footer_item {
                                width: 40%;
                                padding-bottom: 15px;
                                h3 {
                                    margin: 10px 0;
                                }
                                p {
                                    font-size: 36px;
                                }
                            }
                        }
                    }
                }
            }
            .fifth {
                .fifth_header_wrapper {
                    .fifth_header {
                        .header_title {
                            h1 {
                                font-size: 32px;
                                margin: 24px 0 12px;
                            }
                        }
                        .header_text {
                            p {
                                width: 85%;
                            }
                        }
                        .fifth_header_items_wrapper {
                            flex-direction: column;
                            margin: 20px 0 24px;
                        }
                    }
                }
                .fifth_footer_wrapper {
                    .fifth_footer {
                        .footer_title {
                            h1 {
                                font-size: 24px;
                                margin: 24px 0 12px;
                                text-align: center;
                                .footer_border_bottom {
                                    margin-top: 10px;
                                }
                            }
                        }
                        .fifth_footer_items_wrapper {
                            margin: 15px 0;
                            flex-wrap: wrap;
                            .fifth_footer_item {
                                width: 50%;
                                .fifth_footer_item_top {
                                    .fifth_item_title_top {
                                        margin-top: 15px;
                                    }
                                    .fifth_item_title_bottom {
                                        font-size: 24px;
                                        margin-bottom: 15px;
                                    }
                                }
                                .fifth_footer_item_bottom {
                                    padding-top: 20px;
                                    .fifth_item_button {
                                        width: 80%;
                                        margin: 15px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .sixth {
                .sixth_header_wrapper {
                    .sixth_header {
                        .header_title {
                            h1 {
                                font-size: 32px;
                                margin: 24px 0 12px;
                            }
                        }
                        .header_text {
                            p {
                                width: 85%;
                            }
                        }
                        .sixth_header_form {
                            margin: 20px 0 24px;
                            .sixth_header_form_top {
                                flex-direction: column;
                                width: 100%;
                                margin-bottom: 0;
                                .sixth_header_form_text {
                                    width: 100%;
                                    margin-bottom: 10px;
                                    .sixth_header_form_area {
                                        width: 100%;
                                        height: 24px;
                                    }
                                }
                            }
                            .message {
                                .sixth_header_form_area {
                                    height: 50px;
                                }
                            }
                            .sixth_header_form_button {
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
            .footer_wrapper {
                .footer {
                    padding: 24px 0 24px;
                }
            }
        }
    }
    
    @media (min-width: 601px) and (max-width: 800px) {
        .wrapper {
            .first {
                .first_header_wrapper {
                    .first_header {
                        min-height: 80px;
                        .first_header_burger {
                            .menu_box {
                                width: 330px;
                            }
                        }
                    }
                }
                .first_main_wrapper {
                    .first_main {
                        .first_main_slider {
                            height: 350px;
                            .carousel-item {
                                padding: 5px 50px;
                                .first_main_slider_text {
                                    font-size: 36px;
                                }
                                .first_main_slider_text_bottom {
                                    font-size: 18px;
                                }
                            }
                            .first_main_pointer {
                                padding-bottom: 24px;
                            }
                        }
                    }
                }
            }
            .second {
                .second_header_wrapper {
                    .second_header {
                        .header_title {
                            h1 {
                                font-size: 32px;
                                margin: 24px 0 12px;
                            }
                        }
                        .header_text {
                            p {
                                width: 85%;
                            }
                        }
                        .second_header_cards {
                            justify-content: space-between;
                            margin: 24px 0;
                            .second_header_card {
                                width: 32%;
                                text-align: center;
                            }
                        }
                    }
                }
                .second_footer_wrapper {
                    .second_footer {
                        .second_footer_left {
                            max-height: none;
                            h1 {
                                font-size: 24px;
                                margin-top: 24px;
                                margin-bottom: 0;
                            }
                            p {
                                margin: 10px 25px 24px;
                            }
                            .second_footer_left_button {
                                margin-bottom: 24px;
                            }
                        }
                        .second_footer_right {
                            display: none;
                        }
                    }
                }
            }
            .third {
                .third_header_wrapper {
                    .third_header {
                        .header_title {
                            h1 {
                                font-size: 32px;
                                margin: 24px 0 12px;
                            }
                        }
                        .header_text {
                            p {
                                width: 85%;
                            }
                        }
                        .third_header_nav {
                            grid-template-columns: repeat(5, 20%);
                            margin: 24px 0 15px;
                            height: 25px;
                            a {
                                font-size: 11px;
                            }
                        }
                    }
                }
                .third_main_wrapper {
                    .third_main {
                        grid-template-rows: repeat(1, 175px);
                    }
                }
                .third_footer_wrapper {
                    .third_footer {
                        .carousel-wrapper {
                            height: 100px;
                            .carousel-item {
                                top: 4%;
                                padding: 10px 30px;
                            }
                            .item-1 {
                                .third_slider2,
                                .third_slider3 {
                                    display: none;
                                }
                            }
                            .item-2 {
                                .third_slider1,
                                .third_slider3 {
                                    display: none;
                                }
                            }
                            .item-3 {
                                .third_slider1,
                                .third_slider2 {
                                    display: none;
                                }
                            }
                            .item-4 {
                                .third_slider2,
                                .third_slider3 {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            .fourth {
                .fourth_header_wrapper {
                    .fourth_header {
                        .header_title {
                            h1 {
                                font-size: 32px;
                                margin: 24px 0 12px;
                            }
                        }
                        .header_text {
                            p {
                                width: 85%;
                            }
                        }
                        .fourth_header_portfolio {
                            height: 360px;
                            margin: 24px 0;
                            .fourth_header_portfolio_one {
                                width: 33%;
                                .fourth_header_portfolio_one_photo {
                                    margin: 24px 20px 15px;
                                }
                                .fourth_header_portfolio_one_slider {
                                    margin-bottom: 24px;
                                }
                            }
                            .fourth_header_portfolio_two {
                                width: 65%;
                                padding: 35px 20px 10px;
                                .fourth_header_portfolio_two_loaders {
                                    .fourth_header_portfolio_two_loader {
                                        .fourth_loder_wrapper {
                                            width: 60%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .fourth_footer_wrapper {
                    .fourth_footer {
                        .footer_title {
                            h1 {
                                font-size: 24px;
                                margin: 24px 0 12px;
                                text-align: center;
                                .footer_border_bottom {
                                    margin-top: 10px;
                                }
                            }
                        }
                        .fourth_footer_items_wrapper {
                            flex-wrap: wrap;
                            margin: 15px 0 24px;
                            padding: 0 80px;
                            .fourth_footer_item {
                                width: 40%;
                                padding-bottom: 15px;
                                h3 {
                                    margin: 10px 0;
                                }
                                p {
                                    font-size: 36px;
                                }
                            }
                        }
                    }
                }
            }
            .fifth {
                .fifth_header_wrapper {
                    .fifth_header {
                        .header_title {
                            h1 {
                                font-size: 32px;
                                margin: 24px 0 12px;
                            }
                        }
                        .header_text {
                            p {
                                width: 85%;
                            }
                        }
                        .fifth_header_items_wrapper {
                            flex-direction: column;
                            margin: 20px 0 24px;
                            .fifth_header_item {
                                width: 70%;
                                .fifth_heder_item_img {
                                    .fifth_img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }
                .fifth_footer_wrapper {
                    .fifth_footer {
                        .footer_title {
                            h1 {
                                font-size: 24px;
                                margin: 24px 0 12px;
                                text-align: center;
                                .footer_border_bottom {
                                    margin-top: 10px;
                                }
                            }
                        }
                        .fifth_footer_items_wrapper {
                            margin: 15px 0;
                            flex-wrap: wrap;
                            .fifth_footer_item {
                                width: 50%;
                                .fifth_footer_item_top {
                                    .fifth_item_title_top {
                                        margin-top: 15px;
                                    }
                                    .fifth_item_title_bottom {
                                        font-size: 24px;
                                        margin-bottom: 15px;
                                    }
                                }
                                .fifth_footer_item_bottom {
                                    padding-top: 20px;
                                    .fifth_item_button {
                                        width: 80%;
                                        margin: 15px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .sixth {
                .sixth_header_wrapper {
                    .sixth_header {
                        .header_title {
                            h1 {
                                font-size: 32px;
                                margin: 24px 0 12px;
                            }
                        }
                        .header_text {
                            p {
                                width: 85%;
                            }
                        }
                        .sixth_header_form {
                            margin: 20px 0 0;
                            .sixth_header_form_button {
                                margin: 24px 0;
                            }
                        }
                    }
                }
            }
            .footer_wrapper {
                .footer {
                    padding: 24px 0 24px;
                }
            }
        }
    }
    
    @media (min-width: 801px) and (max-width: 1300px) {
        .wrapper {
            .second {
                .second_header_wrapper {
                    .second_header {
                        .second_header_cards {
                            margin: 55px 0;
                        }
                    }
                }
                .second_footer_wrapper {
                    .second_footer {
                        width: 100%;
                        height: 330px;
                        .second_footer_left {
                            width: 50%;
                            p {
                                margin: 15px 30px 25px;
                            }
                        }
                        .second_footer_right {
                            width: 50%;
                            video {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
            .third {
                .third_footer_wrapper {
                    .third_footer {
                        .carousel-wrapper {
                            .carousel-item {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .third_slider1,
                                .third_slider2,
                                .third_slider3 {
                                    width: 30%;
                                    object-fit: cover;
                                }
                                .arrow {
                                    &.arrow-prev {
                                        left: 50px;
                                    }
                                    &.arrow-next {
                                        right: 50px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .fourth {
                .fourth_header_wrapper {
                    .fourth_header {
                        .fourth_header_portfolio {
                            .fourth_header_portfolio_two {
                                padding: 80px 80px 68px 64px;
                                .fourth_header_portfolio_two_loaders {
                                    .fourth_header_portfolio_two_loader {
                                        .fourth_loder_wrapper {
                                            width: 55%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .fifth {
                .fifth_header_wrapper {
                    .fifth_header {
                        .fifth_header_items_wrapper {
                            .fifth_header_item {
                                width: 32%;
                                .fifth_heder_item_img {
                                    .fifth_img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }