@media (max-width: 600px) {
  .wrapper .first .first_header_wrapper .first_header {
    min-height: 80px;
  }
  .wrapper .first .first_header_wrapper .first_header .first_header_burger .menu_box {
    width: 100%;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider {
    height: 350px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item {
    padding: 5px 50px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item .first_main_slider_text {
    font-size: 36px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item .first_main_slider_text_bottom {
    font-size: 18px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider .first_main_pointer {
    padding-bottom: 10px;
  }
  .wrapper .second .second_header_wrapper .second_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .second .second_header_wrapper .second_header .header_text p {
    width: 85%;
  }
  .wrapper .second .second_header_wrapper .second_header .second_header_cards {
    margin: 25px 0 14px;
    flex-direction: column;
  }
  .wrapper .second .second_header_wrapper .second_header .second_header_cards .second_header_card {
    margin-bottom: 10px;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left {
    max-height: none;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left h1 {
    font-size: 24px;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left p {
    margin: 10px 25px 24px;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left .second_footer_left_button {
    margin-bottom: 10px;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_right {
    display: none;
  }
  .wrapper .third .third_header_wrapper .third_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .third .third_header_wrapper .third_header .header_text p {
    width: 85%;
  }
  .wrapper .third .third_header_wrapper .third_header .third_header_nav {
    grid-template-columns: repeat(1, 90%);
    margin: 24px 0 15px;
    height: auto;
  }
  .wrapper .third .third_main_wrapper .third_main {
    grid-template-rows: repeat(1, 175px);
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper {
    height: 180px;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item {
    top: 22%;
    padding: 10px 30px;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-1 .third_slider2,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-1 .third_slider3 {
    display: none;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-2 .third_slider1,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-2 .third_slider3 {
    display: none;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-3 .third_slider1,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-3 .third_slider2 {
    display: none;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-4 .third_slider2,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-4 .third_slider3 {
    display: none;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .header_text p {
    width: 85%;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio {
    flex-direction: column;
    height: auto;
    margin: 24px 0 35px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one .fourth_header_portfolio_one_photo {
    margin: 24px 93px 15px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one .fourth_header_portfolio_one_links {
    margin-bottom: 15px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one .fourth_header_portfolio_one_slider {
    margin-bottom: 24px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two {
    width: 100%;
    padding: 24px 20px 10px;
    margin-top: 10px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two h2 {
    margin-bottom: 14px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_text {
    margin-bottom: 24px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_loaders .fourth_header_portfolio_two_loader .fourth_loder_wrapper {
    width: 40%;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .footer_title h1 {
    font-size: 24px;
    margin: 24px 0 12px;
    text-align: center;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .footer_title h1 .footer_border_bottom {
    margin-top: 10px;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper {
    flex-wrap: wrap;
    margin: 15px 0 0;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper .fourth_footer_item {
    width: 40%;
    padding-bottom: 15px;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper .fourth_footer_item h3 {
    margin: 10px 0;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper .fourth_footer_item p {
    font-size: 36px;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .header_text p {
    width: 85%;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper {
    flex-direction: column;
    margin: 20px 0 24px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .footer_title h1 {
    font-size: 24px;
    margin: 24px 0 12px;
    text-align: center;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .footer_title h1 .footer_border_bottom {
    margin-top: 10px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper {
    margin: 15px 0;
    flex-wrap: wrap;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item {
    width: 50%;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_top .fifth_item_title_top {
    margin-top: 15px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_top .fifth_item_title_bottom {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_bottom {
    padding-top: 20px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_bottom .fifth_item_button {
    width: 80%;
    margin: 15px 0;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .header_text p {
    width: 85%;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form {
    margin: 20px 0 24px;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .sixth_header_form_top {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .sixth_header_form_top .sixth_header_form_text {
    width: 100%;
    margin-bottom: 10px;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .sixth_header_form_top .sixth_header_form_text .sixth_header_form_area {
    width: 100%;
    height: 24px;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .message .sixth_header_form_area {
    height: 50px;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .sixth_header_form_button {
    margin-top: 20px;
  }
  .wrapper .footer_wrapper .footer {
    padding: 24px 0 24px;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  .wrapper .first .first_header_wrapper .first_header {
    min-height: 80px;
  }
  .wrapper .first .first_header_wrapper .first_header .first_header_burger .menu_box {
    width: 330px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider {
    height: 350px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item {
    padding: 5px 50px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item .first_main_slider_text {
    font-size: 36px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item .first_main_slider_text_bottom {
    font-size: 18px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider .first_main_pointer {
    padding-bottom: 24px;
  }
  .wrapper .second .second_header_wrapper .second_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .second .second_header_wrapper .second_header .header_text p {
    width: 85%;
  }
  .wrapper .second .second_header_wrapper .second_header .second_header_cards {
    justify-content: space-between;
    margin: 24px 0;
  }
  .wrapper .second .second_header_wrapper .second_header .second_header_cards .second_header_card {
    width: 32%;
    text-align: center;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left {
    max-height: none;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left h1 {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 0;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left p {
    margin: 10px 25px 24px;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left .second_footer_left_button {
    margin-bottom: 24px;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_right {
    display: none;
  }
  .wrapper .third .third_header_wrapper .third_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .third .third_header_wrapper .third_header .header_text p {
    width: 85%;
  }
  .wrapper .third .third_header_wrapper .third_header .third_header_nav {
    grid-template-columns: repeat(5, 20%);
    margin: 24px 0 15px;
    height: 25px;
  }
  .wrapper .third .third_header_wrapper .third_header .third_header_nav a {
    font-size: 11px;
  }
  .wrapper .third .third_main_wrapper .third_main {
    grid-template-rows: repeat(1, 175px);
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper {
    height: 100px;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item {
    top: 4%;
    padding: 10px 30px;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-1 .third_slider2,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-1 .third_slider3 {
    display: none;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-2 .third_slider1,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-2 .third_slider3 {
    display: none;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-3 .third_slider1,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-3 .third_slider2 {
    display: none;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-4 .third_slider2,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-4 .third_slider3 {
    display: none;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .header_text p {
    width: 85%;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio {
    height: 360px;
    margin: 24px 0;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one {
    width: 33%;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one .fourth_header_portfolio_one_photo {
    margin: 24px 20px 15px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one .fourth_header_portfolio_one_slider {
    margin-bottom: 24px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two {
    width: 65%;
    padding: 35px 20px 10px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_loaders .fourth_header_portfolio_two_loader .fourth_loder_wrapper {
    width: 60%;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .footer_title h1 {
    font-size: 24px;
    margin: 24px 0 12px;
    text-align: center;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .footer_title h1 .footer_border_bottom {
    margin-top: 10px;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper {
    flex-wrap: wrap;
    margin: 15px 0 24px;
    padding: 0 80px;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper .fourth_footer_item {
    width: 40%;
    padding-bottom: 15px;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper .fourth_footer_item h3 {
    margin: 10px 0;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper .fourth_footer_item p {
    font-size: 36px;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .header_text p {
    width: 85%;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper {
    flex-direction: column;
    margin: 20px 0 24px;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item {
    width: 70%;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item .fifth_heder_item_img .fifth_img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .footer_title h1 {
    font-size: 24px;
    margin: 24px 0 12px;
    text-align: center;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .footer_title h1 .footer_border_bottom {
    margin-top: 10px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper {
    margin: 15px 0;
    flex-wrap: wrap;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item {
    width: 50%;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_top .fifth_item_title_top {
    margin-top: 15px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_top .fifth_item_title_bottom {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_bottom {
    padding-top: 20px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_bottom .fifth_item_button {
    width: 80%;
    margin: 15px 0;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .header_text p {
    width: 85%;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form {
    margin: 20px 0 0;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .sixth_header_form_button {
    margin: 24px 0;
  }
  .wrapper .footer_wrapper .footer {
    padding: 24px 0 24px;
  }
}
@media (min-width: 801px) and (max-width: 1300px) {
  .wrapper .second .second_header_wrapper .second_header .second_header_cards {
    margin: 55px 0;
  }
  .wrapper .second .second_footer_wrapper .second_footer {
    width: 100%;
    height: 330px;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left {
    width: 50%;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left p {
    margin: 15px 30px 25px;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_right {
    width: 50%;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_right video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .third_slider1,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .third_slider2,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .third_slider3 {
    width: 30%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .arrow.arrow-prev {
    left: 50px;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .arrow.arrow-next {
    right: 50px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two {
    padding: 80px 80px 68px 64px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_loaders .fourth_header_portfolio_two_loader .fourth_loder_wrapper {
    width: 55%;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item {
    width: 32%;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item .fifth_heder_item_img .fifth_img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=media.css.map */