@mixin header_title {
    color: rgb(61, 61, 61);
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    letter-spacing: 0.1em;
    font-family: 'BigNoodleTitling';
    padding: 0;
    margin: 94px 0 25px;
    .header_border_bottom {
        width: 80%;
        height: 3px;
        background-color: rgb(244, 81, 30);
    }
}

@mixin header_text {
    color: rgb(105, 105, 105);
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0;
    font-family: 'Roboto', sans-serif;
    width: 55%;
    text-align: center;
}

@mixin first_header_logo_text {
    color: $first_header_logo_c;
    font-weight: $first_header_logo_fw;
    font-style: $first_header_logo_fst;
    font-size: $first_header_logo_fs;
    letter-spacing: $first_header_logo_ls;
    font-family: $first_header_logo_ff;
}

@mixin first_header_burger_menu {
    color: $first_header_burger_checked_bg;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    letter-spacing: 0.1em;
    font-family: 'BigNoodleTitling';
}

@mixin first_main_slider_text {
    color: rgb(214, 213, 213);
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
    letter-spacing: 0.1em;
    font-family: 'BigNoodleTitling';
    text-align: center;
}

@mixin first_main_pointer_text {
    color: rgb(214, 213, 213);
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0;
    font-family: 'Roboto', sans-serif;
}

@mixin second_header_card_title {
    color: rgb(112, 112, 112);
    font-weight: 700;
    font-style: normal;
    font-size: 17.69px;
    letter-spacing: 0.025em;
    font-family: 'Roboto', sans-serif;
    margin: 23px 0 15px;
}

@mixin second_header_card_text {
    color: rgb(112, 112, 112);
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.025em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

@mixin second_footer_left_title {
    color: rgb(231, 231, 231);
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

@mixin second_footer_left_text {
    color: rgb(105, 105, 105);
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 30px 95px 45px;
}

@mixin second_footer_left_button {
    color: rgb(235, 235, 235);
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: rgb(230, 78, 64);
    border-bottom: 2px solid rgb(177, 16, 0);
    padding: 13px 30px;
}

@mixin third_header_nav_links {
    color: rgb(61, 61, 61);
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

@mixin fourth_header_portfolio_one_title_top {
    color: rgb(61, 61, 61);
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

@mixin fourth_header_portfolio_one_title_bottom {
    color: rgb(61, 61, 61);
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

@mixin fourth_header_portfolio_two_title {
    color: rgb(61, 61, 61);
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

@mixin fourth_header_portfolio_two_text {
    color: rgb(133, 131, 131);
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

@mixin fourth_header_portfolio_two_loder_title {
    color: rgb(61, 61, 61);
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

@mixin fourth_header_portfolio_two_loder_procent {
    color: rgb(61, 61, 61);
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

@mixin footer_title {
    color: rgb(246, 246, 246);
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    letter-spacing: 0.2em;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 60px 0 0;
    .footer_border_bottom {
        margin-top: 20px;
        width: 30%;
        height: 1px;
        background-color: rgb(64, 64, 64);
    }
}

@mixin fourth_footer_item_title {
    color: rgb(246, 246, 246);
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 25px 0;
}

@mixin fourth_footer_item_text {
    color: rgb(246, 246, 246);
    font-weight: 300;
    font-style: normal;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

@mixin fifth_header_item_title {
    color: rgb(80, 80, 80);
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    margin: 38px 30px 28px 25px;
}

@mixin fifth_header_item_text {
    color: rgb(121, 121, 121);
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
    margin: 0 30px 26px 25px;
}

@mixin fifth_header_item_icons {
    color: rgb(138, 137, 137);
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    margin: 0 5px 0 5px;
}

@mixin fifth_footer_item_title_top {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 42px;
}

@mixin fifth_footer_item_title_bottom {
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 38px;
}

@mixin fifth_footer_item_text {
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 19px;
    .fifth_item_text_bold {
        font-weight: 700;
    }
}

@mixin fifth_item_button_text {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 12px 22px;
    background-color: $fifth_footer_item_hover_bg;
    border-radius: 4px;
}

@mixin sixth_header_form_text {
    color: rgb(105, 105, 105);
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    .sixth_header_form_star {
        color: $fifth_footer_item_hover_bg;
    }
}

@mixin sixth_header_form_button {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
}

@mixin sixth_footer_accord_title {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
}

@mixin footer_text_top {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    font-family: 'BigNoodleTitling';
    letter-spacing: 0.1em;
    text-align: center;
}

@mixin footer_text_bottom {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
}