@import "varaibles.scss";
@import "mixins.scss";
@import "normolize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// font-family: 'Roboto', sans-serif;
@font-face {
    font-family: 'BigNoodleTitling';
    src: url("/assets/fonts/BigNoodleTitling/big_noodle_titling.eot") format("eot"), url("/assets/fonts/BigNoodleTitling/big_noodle_titling.woff") format("woff"), url("/assets/fonts/BigNoodleTitling/big_noodle_titling.ttf") format("truetype"), url("/assets/fonts/BigNoodleTitling/big_noodle_titling.svg#BigNoodleTitling") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    a {
        text-decoration: none;
    }
}

.wrapper {
    width: 100%;
    .first {
        width: 100%;
        .first_header_wrapper {
            width: 100%;
            background-color: $first_header_wrapper_bg;
            .first_header {
                max-width: 1003px;
                min-height: 142.28px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .first_header_logo {
                    display: flex;
                    align-items: center;
                    .first_header_logo_text {
                        margin-left: 25px;
                        @include first_header_logo_text;
                    }
                }
                .first_header_burger {
                    #menu_toggle {
                        opacity: 0;
                        &:checked~.menu_btn>span {
                            transform: rotate(45deg);
                            background-color: $first_header_burger_checked_bg;
                        }
                        &:checked~.menu_btn>span::before {
                            top: 0;
                            transform: rotate(0);
                            background-color: $first_header_burger_checked_bg;
                        }
                        &:checked~.menu_btn>span::after {
                            top: 0;
                            transform: rotate(90deg);
                            background-color: $first_header_burger_checked_bg;
                        }
                        &:checked~.menu_box {
                            visibility: visible;
                            right: 0;
                        }
                    }
                    .menu_btn {
                        display: flex;
                        align-items: center;
                        position: relative;
                        top: -11.7px;
                        width: 38px;
                        height: 21px;
                        cursor: pointer;
                        z-index: 11;
                        &>span,
                        &>span::before,
                        &>span::after {
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            background-color: $first_header_burger_bg;
                        }
                        &>span::before {
                            content: " ";
                            top: -8px;
                        }
                        &>span::after {
                            content: " ";
                            top: 8px;
                        }
                    }
                    .menu_box {
                        display: block;
                        position: fixed;
                        visibility: hidden;
                        top: 0;
                        right: -100%;
                        width: 330px;
                        height: 100%;
                        padding: 100px 0;
                        list-style: none;
                        text-align: center;
                        background-color: $first_header_burger_menu_bg;
                        box-shadow: 1px 0 6px rgba($color: #000000, $alpha: .2);
                        z-index: 10;
                        .menu_item {
                            display: block;
                            padding: 6px 24px;
                            @include first_header_burger_menu;
                            &:hover {
                                background-color: $first_header_burger_menu_hover_bg;
                            }
                        }
                    }
                }
            }
        }
        .first_main_wrapper {
            width: 100%;
            background-color: $first_main_wrapper_bg;
            .first_main {
                max-width: 1003px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .first_main_slider {
                    display: flex;
                    flex-direction: column-reverse;
                    margin: 0 auto;
                    position: relative;
                    width: 100%;
                    height: 708px;
                    .carousel-item {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 25px 50px;
                        opacity: 0;
                        transition: all 0.5s ease-in-out;
                        .first_main_slider_text {
                            text-align: center;
                            @include first_main_slider_text;
                        }
                        .first_main_slider_text_bottom {
                            @include first_main_slider_text;
                            font-size: 36px;
                            letter-spacing: 0.05em;
                        }
                        .arrow {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            p {
                                color: $first_main_slider_arrow;
                                font-size: 45px;
                                &:hover {
                                    color: black;
                                }
                            }
                            &.arrow-prev {
                                left: 0;
                            }
                            &.arrow-next {
                                right: 0;
                            }
                        }
                    }
                    [id^="target-item"] {
                        display: none;
                    }
                    .item-1 {
                        z-index: 2;
                        opacity: 1;
                    }
                    *:target~.item-1 {
                        opacity: 0;
                    }
                    #target-item-1:target~.item-1 {
                        opacity: 1;
                    }
                    #target-item-2:target~.item-2,
                    #target-item-3:target~.item-3,
                    #target-item-4:target~.item-4 {
                        z-index: 3;
                        opacity: 1;
                    }
                    .first_main_pointer {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding-bottom: 45px;
                        p {
                            padding-top: 19px;
                            @include first_main_pointer_text;
                        }
                    }
                }
            }
        }
    }
    .second {
        width: 100%;
        .second_header_wrapper {
            width: 100%;
            background-color: $second_header_wrapper_bg;
            .second_header {
                max-width: 1003px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .header_title {
                    h1 {
                        @include header_title;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .header_text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        @include header_text;
                    }
                }
                .second_header_cards {
                    margin: 55px 0 118px;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .second_header_card {
                        padding: 20px 35px;
                        width: 320px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: $second_header_card_bg;
                        h2 {
                            @include second_header_card_title;
                        }
                        p {
                            @include second_header_card_text;
                        }
                    }
                }
            }
        }
        .second_footer_wrapper {
            width: 100%;
            background-color: $second_footer_left_bg;
            .second_footer {
                max-width: 1370px;
                margin: 0 auto;
                display: flex;
                .second_footer_left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex-grow: 1;
                    max-height: 430px;
                    background-color: $second_footer_left_bg;
                    h1 {
                        @include second_footer_left_title;
                    }
                    p {
                        @include second_footer_left_text;
                    }
                    .second_footer_left_button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a {
                            @include second_footer_left_button;
                            &:hover {
                                color: black;
                            }
                        }
                    }
                }
                .second_footer_right {
                    flex-grow: 1;
                    position: relative;
                    .second_footer_right_play {
                        position: absolute;
                        left: 42%;
                        top: 38%;
                    }
                }
            }
        }
    }
    .third {
        width: 100%;
        .third_header_wrapper {
            width: 100%;
            background-color: $third_header_wrapper_bg;
            .third_header {
                max-width: 1003px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .header_title {
                    h1 {
                        @include header_title;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .header_text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        @include header_text;
                    }
                }
                .third_header_nav {
                    width: 75%;
                    height: 30px;
                    display: grid;
                    grid-template-columns: repeat(5, 15%);
                    justify-content: space-between;
                    align-items: center;
                    margin: 84px 0 33px;
                    a {
                        display: inline-block;
                        padding-bottom: 7px;
                        @include third_header_nav_links;
                        &:hover {
                            border-bottom: 1px solid rgb(232, 76, 61);
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .third_main_wrapper {
            width: 100%;
            background-color: $third_main_wrapper_bg;
            .third_main {
                max-width: 1370px;
                margin: 0 auto;
                display: grid;
                grid-template-columns: 2fr 2fr 1fr;
                grid-template-rows: repeat(3, 175px);
                .third_main_grid {
                    border: 1px solid rgb(235, 102, 89);
                }
            }
        }
        .third_footer_wrapper {
            width: 100%;
            background-color: $third_footer_wrapper_bg;
            .third_footer {
                max-width: 1003px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                .carousel-wrapper {
                    margin: 0 auto;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 240px;
                    width: 100%;
                    .carousel-item {
                        position: absolute;
                        top: 25%;
                        padding: 25px 100px;
                        opacity: 0;
                        transition: all 0.5s ease-in-out;
                        .arrow {
                            display: block;
                            position: absolute;
                            top: 10%;
                            height: 80%;
                            p {
                                position: absolute;
                                top: 35%;
                                color: rgb(93, 93, 93);
                                font-size: 25px;
                                &:hover {
                                    color: black;
                                }
                            }
                            &.arrow-prev {
                                left: 0;
                                p {
                                    position: absolute;
                                    left: 45%;
                                }
                            }
                            &.arrow-next {
                                right: 0;
                                p {
                                    position: absolute;
                                    right: 45%;
                                }
                            }
                        }
                    }
                    [id^="target-item"] {
                        display: none;
                    }
                    .item-1 {
                        z-index: 2;
                        opacity: 1;
                    }
                    *:target~.item-1 {
                        opacity: 0;
                    }
                    #target-item-1:target~.item-1 {
                        opacity: 1;
                    }
                    #target-item-2:target~.item-2,
                    #target-item-3:target~.item-3,
                    #target-item-4:target~.item-4 {
                        z-index: 3;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .fourth {
        width: 100%;
        .fourth_header_wrapper {
            width: 100%;
            background-color: $fourth_header_wrapper_bg;
            .fourth_header {
                max-width: 1003px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .header_title {
                    h1 {
                        @include header_title;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .header_text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        @include header_text;
                    }
                }
                .fourth_header_portfolio {
                    width: 100%;
                    height: 436px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 84px 0 105px;
                    .fourth_header_portfolio_one {
                        background-color: $fourth_header_portfolio_bg;
                        width: 320px;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .fourth_header_portfolio_one_photo {
                            width: 134px;
                            height: 134px;
                            border-radius: 50%;
                            background-color: rgb(242, 108, 79);
                            margin: 72px 93px 30px;
                        }
                        h2 {
                            @include fourth_header_portfolio_one_title_top;
                        }
                        h3 {
                            @include fourth_header_portfolio_one_title_bottom;
                            margin-bottom: 22px;
                        }
                        .fourth_header_portfolio_one_links {
                            margin-bottom: 40px;
                        }
                        .fourth_header_portfolio_one_slider {
                            display: block;
                            margin-bottom: 70px;
                        }
                    }
                    .fourth_header_portfolio_two {
                        width: 661px;
                        height: 100%;
                        background-color: $fourth_header_portfolio_bg;
                        padding: 122px 80px 68px 64px;
                        h2 {
                            @include fourth_header_portfolio_two_title;
                            margin-bottom: 26px;
                        }
                        .fourth_header_portfolio_two_text {
                            @include fourth_header_portfolio_two_text;
                            margin-bottom: 45px;
                        }
                        .fourth_header_portfolio_two_loaders {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            .fourth_header_portfolio_two_loader {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 20px;
                                .fourth_loder_title {
                                    width: 25%;
                                    @include fourth_header_portfolio_two_loder_title;
                                }
                                .fourth_loder_wrapper {
                                    width: 65%;
                                    height: 1px;
                                    background-color: white;
                                    .fourth_loader_value1 {
                                        width: 88%;
                                        height: 1px;
                                        background-color: rgb(232, 76, 61);
                                    }
                                    .fourth_loader_value2 {
                                        width: 92%;
                                        height: 1px;
                                        background-color: rgb(232, 76, 61);
                                    }
                                    .fourth_loader_value3 {
                                        width: 90%;
                                        height: 1px;
                                        background-color: rgb(232, 76, 61);
                                    }
                                    .fourth_loader_value4 {
                                        width: 98%;
                                        height: 1px;
                                        background-color: rgb(232, 76, 61);
                                    }
                                }
                                .fourth_loader_procent {
                                    width: 10%;
                                    @include fourth_header_portfolio_two_loder_procent;
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }
        }
        .fourth_footer_wrapper {
            width: 100%;
            background-color: $fourth_footer_wrapper_bg;
            .fourth_footer {
                max-width: 1003px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .footer_title {
                    h1 {
                        @include footer_title;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .fourth_footer_items_wrapper {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 45px 0 70px;
                    .fourth_footer_item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h3 {
                            @include fourth_footer_item_title;
                        }
                        p {
                            @include fourth_footer_item_text;
                        }
                    }
                }
            }
        }
    }
    .fifth {
        width: 100%;
        .fifth_header_wrapper {
            width: 100%;
            background-color: $fifth_header_wrapper_bg;
            .fifth_header {
                max-width: 1003px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .header_title {
                    h1 {
                        @include header_title;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .header_text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        @include header_text;
                    }
                }
                .fifth_header_items_wrapper {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 72px 0 115px;
                    .fifth_header_item {
                        width: 320px;
                        background-color: $fifth_header_item_bg;
                        .fifth_heder_item_img {
                            position: relative;
                            width: 100%;
                            height: 218px;
                            background-color: $fifth_header_item_img_bg;
                            .fifth_header_img_wrapper {
                                width: 35%;
                                position: absolute;
                                left: 33%;
                                top: 40%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                cursor: pointer;
                            }
                        }
                        h3 {
                            @include fifth_header_item_title;
                        }
                        p {
                            @include fifth_header_item_text;
                        }
                        .fifth_heder_item_icons {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin: 0 30px 24px 25px;
                            .fifth_heder_item_icons_left {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                p {
                                    @include fifth_header_item_icons;
                                }
                            }
                            .fifth_heder_item_icons_right {
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                padding-right: 30px;
                                p {
                                    @include fifth_header_item_icons;
                                }
                                .fifth_heder_item_icons_right_first {
                                    display: flex;
                                }
                            }
                        }
                    }
                }
            }
        }
        .fifth_footer_wrapper {
            width: 100%;
            background-color: $fifth_footer_wrapper_bg;
            .fifth_footer {
                max-width: 1003px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .footer_title {
                    h1 {
                        @include footer_title;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .fifth_footer_items_wrapper {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 56px 0;
                    .fifth_footer_item {
                        width: 25%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid $fifth_footer_wrapper_bg;
                        .fifth_footer_item_top {
                            width: 100%;
                            background-color: $fifth_footer_item_top_bg;
                            .fifth_item_title_top {
                                @include fifth_footer_item_title_top;
                            }
                            .fifth_item_title_bottom {
                                @include fifth_footer_item_title_bottom;
                            }
                        }
                        .fifth_footer_item_bottom {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            width: 100%;
                            background-color: $fifth_footer_item_bottom_bg;
                            padding-top: 47px;
                            .fifth_item_text {
                                @include fifth_footer_item_text;
                            }
                            .fifth_item_button {
                                width: 60%;
                                margin: 57px 0 46px;
                                cursor: pointer;
                                .fifth_item_button_text {
                                    @include fifth_item_button_text;
                                }
                                &:hover {
                                    .fifth_item_button_text {
                                        color: black;
                                    }
                                }
                            }
                        }
                        &:hover {
                            border: 1px solid $fifth_footer_item_hover_bg;
                            .fifth_item_text {
                                .fifth_item_text_bold {
                                    color: $fifth_footer_item_hover_bg;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sixth {
        width: 100%;
        .sixth_header_wrapper {
            width: 100%;
            background-color: $sixth_header_wrapper_bg;
            .sixth_header {
                max-width: 1003px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .header_title {
                    h1 {
                        @include header_title;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .header_text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        @include header_text;
                    }
                }
                .sixth_header_form {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 98px 0 83px;
                    .sixth_header_form_top {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 44px;
                        .sixth_header_form_text {
                            width: 48%;
                            @include sixth_header_form_text;
                            .sixth_header_form_area {
                                width: 100%;
                                height: 54px;
                                border: none;
                                border-bottom: 1px solid $sixth_header_form_input_border;
                            }
                        }
                    }
                    .message {
                        width: 100%;
                        @include sixth_header_form_text;
                        .sixth_header_form_area {
                            width: 100%;
                            height: 89px;
                            border: none;
                            border-bottom: 1px solid $sixth_header_form_input_border;
                        }
                    }
                    .sixth_header_form_button {
                        background-color: $fifth_footer_item_hover_bg;
                        padding: 20px 43px;
                        border: none;
                        margin-top: 60px;
                        @include sixth_header_form_button;
                        cursor: pointer;
                        &:hover {
                            color: black;
                        }
                    }
                }
            }
        }
        .sixth_footer_wrapper {
            width: 100%;
            background-color: $sixth_footer_wrapper_bg;
            .sixth_footer {
                max-width: 1003px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .sixth_footer_accord {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .sixth_footer_accord_title {
                        width: 100%;
                        margin: 33px 0;
                        @include sixth_footer_accord_title;
                        list-style: none;
                        &::after {
                            content: url(/assets/img/sixth_footer_accord_arrow_open.png);
                            margin-left: 13px;
                        }
                    }
                    .sixth_footer_map {
                        display: block;
                        text-align: center;
                        margin-bottom: 33px;
                    }
                    &[open] .sixth_footer_accord_title::after {
                        content: url(/assets/img/sixth_footer_accord_arrow_close.png);
                        margin-left: 13px;
                    }
                }
            }
        }
    }
    .footer_wrapper {
        width: 100%;
        background-color: $footer_wrapper_bg;
        .footer {
            max-width: 1003px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 49px 0 62px;
            .footer_text_top {
                margin-top: 10px;
                @include footer_text_top;
            }
            .footer_text_bottom {
                @include footer_text_bottom;
                margin: 13px 0 18px;
            }
        }
    }
}

@import "media.scss";