@import "normolize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "BigNoodleTitling";
  src: url("/assets/fonts/BigNoodleTitling/big_noodle_titling.eot") format("eot"), url("/assets/fonts/BigNoodleTitling/big_noodle_titling.woff") format("woff"), url("/assets/fonts/BigNoodleTitling/big_noodle_titling.ttf") format("truetype"), url("/assets/fonts/BigNoodleTitling/big_noodle_titling.svg#BigNoodleTitling") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
}
.wrapper .first {
  width: 100%;
}
.wrapper .first .first_header_wrapper {
  width: 100%;
  background-color: #f8f6f6;
}
.wrapper .first .first_header_wrapper .first_header {
  max-width: 1003px;
  min-height: 142.28px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .first .first_header_wrapper .first_header .first_header_logo {
  display: flex;
  align-items: center;
}
.wrapper .first .first_header_wrapper .first_header .first_header_logo .first_header_logo_text {
  margin-left: 25px;
  color: dimgray;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 0.1em;
  font-family: "BigNoodleTitling";
}
.wrapper .first .first_header_wrapper .first_header .first_header_burger #menu_toggle {
  opacity: 0;
}
.wrapper .first .first_header_wrapper .first_header .first_header_burger #menu_toggle:checked ~ .menu_btn > span {
  transform: rotate(45deg);
  background-color: #f6744b;
}
.wrapper .first .first_header_wrapper .first_header .first_header_burger #menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
  background-color: #f6744b;
}
.wrapper .first .first_header_wrapper .first_header .first_header_burger #menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #f6744b;
}
.wrapper .first .first_header_wrapper .first_header .first_header_burger #menu_toggle:checked ~ .menu_box {
  visibility: visible;
  right: 0;
}
.wrapper .first .first_header_wrapper .first_header .first_header_burger .menu_btn {
  display: flex;
  align-items: center;
  position: relative;
  top: -11.7px;
  width: 38px;
  height: 21px;
  cursor: pointer;
  z-index: 11;
}
.wrapper .first .first_header_wrapper .first_header .first_header_burger .menu_btn > span, .wrapper .first .first_header_wrapper .first_header .first_header_burger .menu_btn > span::before, .wrapper .first .first_header_wrapper .first_header .first_header_burger .menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #464646;
}
.wrapper .first .first_header_wrapper .first_header .first_header_burger .menu_btn > span::before {
  content: " ";
  top: -8px;
}
.wrapper .first .first_header_wrapper .first_header .first_header_burger .menu_btn > span::after {
  content: " ";
  top: 8px;
}
.wrapper .first .first_header_wrapper .first_header .first_header_burger .menu_box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 330px;
  height: 100%;
  padding: 100px 0;
  list-style: none;
  text-align: center;
  background-color: #171f23;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.wrapper .first .first_header_wrapper .first_header .first_header_burger .menu_box .menu_item {
  display: block;
  padding: 6px 24px;
  color: #f6744b;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  letter-spacing: 0.1em;
  font-family: "BigNoodleTitling";
}
.wrapper .first .first_header_wrapper .first_header .first_header_burger .menu_box .menu_item:hover {
  background-color: #ebebeb;
}
.wrapper .first .first_main_wrapper {
  width: 100%;
  background-color: #353535;
}
.wrapper .first .first_main_wrapper .first_main {
  max-width: 1003px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .first .first_main_wrapper .first_main .first_main_slider {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 708px;
}
.wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item .first_main_slider_text {
  text-align: center;
  color: #d6d5d5;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  letter-spacing: 0.1em;
  font-family: "BigNoodleTitling";
  text-align: center;
}
.wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item .first_main_slider_text_bottom {
  color: #d6d5d5;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  letter-spacing: 0.1em;
  font-family: "BigNoodleTitling";
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.05em;
}
.wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item .arrow p {
  color: #3a3939;
  font-size: 45px;
}
.wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item .arrow p:hover {
  color: black;
}
.wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item .arrow.arrow-prev {
  left: 0;
}
.wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item .arrow.arrow-next {
  right: 0;
}
.wrapper .first .first_main_wrapper .first_main .first_main_slider [id^=target-item] {
  display: none;
}
.wrapper .first .first_main_wrapper .first_main .first_main_slider .item-1 {
  z-index: 2;
  opacity: 1;
}
.wrapper .first .first_main_wrapper .first_main .first_main_slider *:target ~ .item-1 {
  opacity: 0;
}
.wrapper .first .first_main_wrapper .first_main .first_main_slider #target-item-1:target ~ .item-1 {
  opacity: 1;
}
.wrapper .first .first_main_wrapper .first_main .first_main_slider #target-item-2:target ~ .item-2,
.wrapper .first .first_main_wrapper .first_main .first_main_slider #target-item-3:target ~ .item-3,
.wrapper .first .first_main_wrapper .first_main .first_main_slider #target-item-4:target ~ .item-4 {
  z-index: 3;
  opacity: 1;
}
.wrapper .first .first_main_wrapper .first_main .first_main_slider .first_main_pointer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 45px;
}
.wrapper .first .first_main_wrapper .first_main .first_main_slider .first_main_pointer p {
  padding-top: 19px;
  color: #d6d5d5;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
}
.wrapper .second {
  width: 100%;
}
.wrapper .second .second_header_wrapper {
  width: 100%;
  background-color: white;
}
.wrapper .second .second_header_wrapper .second_header {
  max-width: 1003px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .second .second_header_wrapper .second_header .header_title h1 {
  color: #3d3d3d;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0.1em;
  font-family: "BigNoodleTitling";
  padding: 0;
  margin: 94px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .second .second_header_wrapper .second_header .header_title h1 .header_border_bottom {
  width: 80%;
  height: 3px;
  background-color: #f4511e;
}
.wrapper .second .second_header_wrapper .second_header .header_text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .second .second_header_wrapper .second_header .header_text p {
  color: dimgray;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  width: 55%;
  text-align: center;
}
.wrapper .second .second_header_wrapper .second_header .second_header_cards {
  margin: 55px 0 118px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrapper .second .second_header_wrapper .second_header .second_header_cards .second_header_card {
  padding: 20px 35px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
}
.wrapper .second .second_header_wrapper .second_header .second_header_cards .second_header_card h2 {
  color: #707070;
  font-weight: 700;
  font-style: normal;
  font-size: 17.69px;
  letter-spacing: 0.025em;
  font-family: "Roboto", sans-serif;
  margin: 23px 0 15px;
}
.wrapper .second .second_header_wrapper .second_header .second_header_cards .second_header_card p {
  color: #707070;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.025em;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.wrapper .second .second_footer_wrapper {
  width: 100%;
  background-color: #171f23;
}
.wrapper .second .second_footer_wrapper .second_footer {
  max-width: 1370px;
  margin: 0 auto;
  display: flex;
}
.wrapper .second .second_footer_wrapper .second_footer .second_footer_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-height: 430px;
  background-color: #171f23;
}
.wrapper .second .second_footer_wrapper .second_footer .second_footer_left h1 {
  color: #e7e7e7;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.wrapper .second .second_footer_wrapper .second_footer .second_footer_left p {
  color: dimgray;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 30px 95px 45px;
}
.wrapper .second .second_footer_wrapper .second_footer .second_footer_left .second_footer_left_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .second .second_footer_wrapper .second_footer .second_footer_left .second_footer_left_button a {
  color: #ebebeb;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #e64e40;
  border-bottom: 2px solid #b11000;
  padding: 13px 30px;
}
.wrapper .second .second_footer_wrapper .second_footer .second_footer_left .second_footer_left_button a:hover {
  color: black;
}
.wrapper .second .second_footer_wrapper .second_footer .second_footer_right {
  flex-grow: 1;
  position: relative;
}
.wrapper .second .second_footer_wrapper .second_footer .second_footer_right .second_footer_right_play {
  position: absolute;
  left: 42%;
  top: 38%;
}
.wrapper .third {
  width: 100%;
}
.wrapper .third .third_header_wrapper {
  width: 100%;
  background-color: white;
}
.wrapper .third .third_header_wrapper .third_header {
  max-width: 1003px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .third .third_header_wrapper .third_header .header_title h1 {
  color: #3d3d3d;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0.1em;
  font-family: "BigNoodleTitling";
  padding: 0;
  margin: 94px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .third .third_header_wrapper .third_header .header_title h1 .header_border_bottom {
  width: 80%;
  height: 3px;
  background-color: #f4511e;
}
.wrapper .third .third_header_wrapper .third_header .header_text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .third .third_header_wrapper .third_header .header_text p {
  color: dimgray;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  width: 55%;
  text-align: center;
}
.wrapper .third .third_header_wrapper .third_header .third_header_nav {
  width: 75%;
  height: 30px;
  display: grid;
  grid-template-columns: repeat(5, 15%);
  justify-content: space-between;
  align-items: center;
  margin: 84px 0 33px;
}
.wrapper .third .third_header_wrapper .third_header .third_header_nav a {
  display: inline-block;
  padding-bottom: 7px;
  color: #3d3d3d;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.wrapper .third .third_header_wrapper .third_header .third_header_nav a:hover {
  border-bottom: 1px solid #e84c3d;
  font-weight: 700;
}
.wrapper .third .third_main_wrapper {
  width: 100%;
  background-color: #e84c3d;
}
.wrapper .third .third_main_wrapper .third_main {
  max-width: 1370px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: repeat(3, 175px);
}
.wrapper .third .third_main_wrapper .third_main .third_main_grid {
  border: 1px solid #eb6659;
}
.wrapper .third .third_footer_wrapper {
  width: 100%;
  background-color: #1c1c1c;
}
.wrapper .third .third_footer_wrapper .third_footer {
  max-width: 1003px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 100%;
}
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item {
  position: absolute;
  top: 25%;
  padding: 25px 100px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .arrow {
  display: block;
  position: absolute;
  top: 10%;
  height: 80%;
}
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .arrow p {
  position: absolute;
  top: 35%;
  color: #5d5d5d;
  font-size: 25px;
}
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .arrow p:hover {
  color: black;
}
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .arrow.arrow-prev {
  left: 0;
}
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .arrow.arrow-prev p {
  position: absolute;
  left: 45%;
}
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .arrow.arrow-next {
  right: 0;
}
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .arrow.arrow-next p {
  position: absolute;
  right: 45%;
}
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper [id^=target-item] {
  display: none;
}
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-1 {
  z-index: 2;
  opacity: 1;
}
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper *:target ~ .item-1 {
  opacity: 0;
}
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper #target-item-1:target ~ .item-1 {
  opacity: 1;
}
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper #target-item-2:target ~ .item-2,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper #target-item-3:target ~ .item-3,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper #target-item-4:target ~ .item-4 {
  z-index: 3;
  opacity: 1;
}
.wrapper .fourth {
  width: 100%;
}
.wrapper .fourth .fourth_header_wrapper {
  width: 100%;
  background-color: white;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header {
  max-width: 1003px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .header_title h1 {
  color: #3d3d3d;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0.1em;
  font-family: "BigNoodleTitling";
  padding: 0;
  margin: 94px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .header_title h1 .header_border_bottom {
  width: 80%;
  height: 3px;
  background-color: #f4511e;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .header_text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .header_text p {
  color: dimgray;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  width: 55%;
  text-align: center;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio {
  width: 100%;
  height: 436px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 84px 0 105px;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one {
  background-color: #ebebeb;
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one .fourth_header_portfolio_one_photo {
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: #f26c4f;
  margin: 72px 93px 30px;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one h2 {
  color: #3d3d3d;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one h3 {
  color: #3d3d3d;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 22px;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one .fourth_header_portfolio_one_links {
  margin-bottom: 40px;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one .fourth_header_portfolio_one_slider {
  display: block;
  margin-bottom: 70px;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two {
  width: 661px;
  height: 100%;
  background-color: #ebebeb;
  padding: 122px 80px 68px 64px;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two h2 {
  color: #3d3d3d;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 26px;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_text {
  color: #858383;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 45px;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_loaders {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_loaders .fourth_header_portfolio_two_loader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_loaders .fourth_header_portfolio_two_loader .fourth_loder_title {
  width: 25%;
  color: #3d3d3d;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_loaders .fourth_header_portfolio_two_loader .fourth_loder_wrapper {
  width: 65%;
  height: 1px;
  background-color: white;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_loaders .fourth_header_portfolio_two_loader .fourth_loder_wrapper .fourth_loader_value1 {
  width: 88%;
  height: 1px;
  background-color: #e84c3d;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_loaders .fourth_header_portfolio_two_loader .fourth_loder_wrapper .fourth_loader_value2 {
  width: 92%;
  height: 1px;
  background-color: #e84c3d;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_loaders .fourth_header_portfolio_two_loader .fourth_loder_wrapper .fourth_loader_value3 {
  width: 90%;
  height: 1px;
  background-color: #e84c3d;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_loaders .fourth_header_portfolio_two_loader .fourth_loder_wrapper .fourth_loader_value4 {
  width: 98%;
  height: 1px;
  background-color: #e84c3d;
}
.wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_loaders .fourth_header_portfolio_two_loader .fourth_loader_procent {
  width: 10%;
  color: #3d3d3d;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-align: right;
}
.wrapper .fourth .fourth_footer_wrapper {
  width: 100%;
  background-color: #171f23;
}
.wrapper .fourth .fourth_footer_wrapper .fourth_footer {
  max-width: 1003px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .fourth .fourth_footer_wrapper .fourth_footer .footer_title h1 {
  color: #f6f6f6;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  letter-spacing: 0.2em;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 60px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .fourth .fourth_footer_wrapper .fourth_footer .footer_title h1 .footer_border_bottom {
  margin-top: 20px;
  width: 30%;
  height: 1px;
  background-color: #404040;
}
.wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 0 70px;
}
.wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper .fourth_footer_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper .fourth_footer_item h3 {
  color: #f6f6f6;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 25px 0;
}
.wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper .fourth_footer_item p {
  color: #f6f6f6;
  font-weight: 300;
  font-style: normal;
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.wrapper .fifth {
  width: 100%;
}
.wrapper .fifth .fifth_header_wrapper {
  width: 100%;
  background-color: white;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header {
  max-width: 1003px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header .header_title h1 {
  color: #3d3d3d;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0.1em;
  font-family: "BigNoodleTitling";
  padding: 0;
  margin: 94px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header .header_title h1 .header_border_bottom {
  width: 80%;
  height: 3px;
  background-color: #f4511e;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header .header_text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header .header_text p {
  color: dimgray;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  width: 55%;
  text-align: center;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 72px 0 115px;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item {
  width: 320px;
  background-color: #ebebeb;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item .fifth_heder_item_img {
  position: relative;
  width: 100%;
  height: 218px;
  background-color: #787474;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item .fifth_heder_item_img .fifth_header_img_wrapper {
  width: 35%;
  position: absolute;
  left: 33%;
  top: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item h3 {
  color: #505050;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  margin: 38px 30px 28px 25px;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item p {
  color: #797979;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
  margin: 0 30px 26px 25px;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item .fifth_heder_item_icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 24px 25px;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item .fifth_heder_item_icons .fifth_heder_item_icons_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item .fifth_heder_item_icons .fifth_heder_item_icons_left p {
  color: #8a8989;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  margin: 0 5px 0 5px;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item .fifth_heder_item_icons .fifth_heder_item_icons_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item .fifth_heder_item_icons .fifth_heder_item_icons_right p {
  color: #8a8989;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  margin: 0 5px 0 5px;
}
.wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item .fifth_heder_item_icons .fifth_heder_item_icons_right .fifth_heder_item_icons_right_first {
  display: flex;
}
.wrapper .fifth .fifth_footer_wrapper {
  width: 100%;
  background-color: #171f23;
}
.wrapper .fifth .fifth_footer_wrapper .fifth_footer {
  max-width: 1003px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .fifth .fifth_footer_wrapper .fifth_footer .footer_title h1 {
  color: #f6f6f6;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  letter-spacing: 0.2em;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 60px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .fifth .fifth_footer_wrapper .fifth_footer .footer_title h1 .footer_border_bottom {
  margin-top: 20px;
  width: 30%;
  height: 1px;
  background-color: #404040;
}
.wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 56px 0;
}
.wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #171f23;
}
.wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_top {
  width: 100%;
  background-color: #0e1316;
}
.wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_top .fifth_item_title_top {
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 42px;
}
.wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_top .fifth_item_title_bottom {
  color: white;
  font-weight: 300;
  font-style: normal;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 38px;
}
.wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #1f282c;
  padding-top: 47px;
}
.wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_bottom .fifth_item_text {
  color: white;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 19px;
}
.wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_bottom .fifth_item_text .fifth_item_text_bold {
  font-weight: 700;
}
.wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_bottom .fifth_item_button {
  width: 60%;
  margin: 57px 0 46px;
  cursor: pointer;
}
.wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_bottom .fifth_item_button .fifth_item_button_text {
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 12px 22px;
  background-color: #f6744b;
  border-radius: 4px;
}
.wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_bottom .fifth_item_button:hover .fifth_item_button_text {
  color: black;
}
.wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item:hover {
  border: 1px solid #f6744b;
}
.wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item:hover .fifth_item_text .fifth_item_text_bold {
  color: #f6744b;
}
.wrapper .sixth {
  width: 100%;
}
.wrapper .sixth .sixth_header_wrapper {
  width: 100%;
  background-color: white;
}
.wrapper .sixth .sixth_header_wrapper .sixth_header {
  max-width: 1003px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .sixth .sixth_header_wrapper .sixth_header .header_title h1 {
  color: #3d3d3d;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0.1em;
  font-family: "BigNoodleTitling";
  padding: 0;
  margin: 94px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .sixth .sixth_header_wrapper .sixth_header .header_title h1 .header_border_bottom {
  width: 80%;
  height: 3px;
  background-color: #f4511e;
}
.wrapper .sixth .sixth_header_wrapper .sixth_header .header_text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .sixth .sixth_header_wrapper .sixth_header .header_text p {
  color: dimgray;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  width: 55%;
  text-align: center;
}
.wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 98px 0 83px;
}
.wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .sixth_header_form_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}
.wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .sixth_header_form_top .sixth_header_form_text {
  width: 48%;
  color: dimgray;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
}
.wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .sixth_header_form_top .sixth_header_form_text .sixth_header_form_star {
  color: #f6744b;
}
.wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .sixth_header_form_top .sixth_header_form_text .sixth_header_form_area {
  width: 100%;
  height: 54px;
  border: none;
  border-bottom: 1px solid #cacaca;
}
.wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .message {
  width: 100%;
  color: dimgray;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
}
.wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .message .sixth_header_form_star {
  color: #f6744b;
}
.wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .message .sixth_header_form_area {
  width: 100%;
  height: 89px;
  border: none;
  border-bottom: 1px solid #cacaca;
}
.wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .sixth_header_form_button {
  background-color: #f6744b;
  padding: 20px 43px;
  border: none;
  margin-top: 60px;
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .sixth_header_form_button:hover {
  color: black;
}
.wrapper .sixth .sixth_footer_wrapper {
  width: 100%;
  background-color: #0c1215;
}
.wrapper .sixth .sixth_footer_wrapper .sixth_footer {
  max-width: 1003px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .sixth .sixth_footer_wrapper .sixth_footer .sixth_footer_accord {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .sixth .sixth_footer_wrapper .sixth_footer .sixth_footer_accord .sixth_footer_accord_title {
  width: 100%;
  margin: 33px 0;
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  list-style: none;
}
.wrapper .sixth .sixth_footer_wrapper .sixth_footer .sixth_footer_accord .sixth_footer_accord_title::after {
  content: url(/assets/img/sixth_footer_accord_arrow_open.png);
  margin-left: 13px;
}
.wrapper .sixth .sixth_footer_wrapper .sixth_footer .sixth_footer_accord .sixth_footer_map {
  display: block;
  text-align: center;
  margin-bottom: 33px;
}
.wrapper .sixth .sixth_footer_wrapper .sixth_footer .sixth_footer_accord[open] .sixth_footer_accord_title::after {
  content: url(/assets/img/sixth_footer_accord_arrow_close.png);
  margin-left: 13px;
}
.wrapper .footer_wrapper {
  width: 100%;
  background-color: #171f23;
}
.wrapper .footer_wrapper .footer {
  max-width: 1003px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 49px 0 62px;
}
.wrapper .footer_wrapper .footer .footer_text_top {
  margin-top: 10px;
  color: white;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  font-family: "BigNoodleTitling";
  letter-spacing: 0.1em;
  text-align: center;
}
.wrapper .footer_wrapper .footer .footer_text_bottom {
  color: white;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 13px 0 18px;
}

@media (max-width: 600px) {
  .wrapper .first .first_header_wrapper .first_header {
    min-height: 80px;
  }
  .wrapper .first .first_header_wrapper .first_header .first_header_burger .menu_box {
    width: 100%;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider {
    height: 350px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item {
    padding: 5px 50px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item .first_main_slider_text {
    font-size: 36px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item .first_main_slider_text_bottom {
    font-size: 18px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider .first_main_pointer {
    padding-bottom: 10px;
  }
  .wrapper .second .second_header_wrapper .second_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .second .second_header_wrapper .second_header .header_text p {
    width: 85%;
  }
  .wrapper .second .second_header_wrapper .second_header .second_header_cards {
    margin: 25px 0 14px;
    flex-direction: column;
  }
  .wrapper .second .second_header_wrapper .second_header .second_header_cards .second_header_card {
    margin-bottom: 10px;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left {
    max-height: none;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left h1 {
    font-size: 24px;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left p {
    margin: 10px 25px 24px;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left .second_footer_left_button {
    margin-bottom: 10px;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_right {
    display: none;
  }
  .wrapper .third .third_header_wrapper .third_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .third .third_header_wrapper .third_header .header_text p {
    width: 85%;
  }
  .wrapper .third .third_header_wrapper .third_header .third_header_nav {
    grid-template-columns: repeat(1, 90%);
    margin: 24px 0 15px;
    height: auto;
  }
  .wrapper .third .third_main_wrapper .third_main {
    grid-template-rows: repeat(1, 175px);
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper {
    height: 180px;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item {
    top: 22%;
    padding: 10px 30px;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-1 .third_slider2,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-1 .third_slider3 {
    display: none;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-2 .third_slider1,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-2 .third_slider3 {
    display: none;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-3 .third_slider1,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-3 .third_slider2 {
    display: none;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-4 .third_slider2,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-4 .third_slider3 {
    display: none;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .header_text p {
    width: 85%;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio {
    flex-direction: column;
    height: auto;
    margin: 24px 0 35px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one .fourth_header_portfolio_one_photo {
    margin: 24px 93px 15px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one .fourth_header_portfolio_one_links {
    margin-bottom: 15px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one .fourth_header_portfolio_one_slider {
    margin-bottom: 24px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two {
    width: 100%;
    padding: 24px 20px 10px;
    margin-top: 10px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two h2 {
    margin-bottom: 14px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_text {
    margin-bottom: 24px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_loaders .fourth_header_portfolio_two_loader .fourth_loder_wrapper {
    width: 40%;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .footer_title h1 {
    font-size: 24px;
    margin: 24px 0 12px;
    text-align: center;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .footer_title h1 .footer_border_bottom {
    margin-top: 10px;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper {
    flex-wrap: wrap;
    margin: 15px 0 0;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper .fourth_footer_item {
    width: 40%;
    padding-bottom: 15px;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper .fourth_footer_item h3 {
    margin: 10px 0;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper .fourth_footer_item p {
    font-size: 36px;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .header_text p {
    width: 85%;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper {
    flex-direction: column;
    margin: 20px 0 24px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .footer_title h1 {
    font-size: 24px;
    margin: 24px 0 12px;
    text-align: center;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .footer_title h1 .footer_border_bottom {
    margin-top: 10px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper {
    margin: 15px 0;
    flex-wrap: wrap;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item {
    width: 50%;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_top .fifth_item_title_top {
    margin-top: 15px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_top .fifth_item_title_bottom {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_bottom {
    padding-top: 20px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_bottom .fifth_item_button {
    width: 80%;
    margin: 15px 0;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .header_text p {
    width: 85%;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form {
    margin: 20px 0 24px;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .sixth_header_form_top {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .sixth_header_form_top .sixth_header_form_text {
    width: 100%;
    margin-bottom: 10px;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .sixth_header_form_top .sixth_header_form_text .sixth_header_form_area {
    width: 100%;
    height: 24px;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .message .sixth_header_form_area {
    height: 50px;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .sixth_header_form_button {
    margin-top: 20px;
  }
  .wrapper .footer_wrapper .footer {
    padding: 24px 0 24px;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  .wrapper .first .first_header_wrapper .first_header {
    min-height: 80px;
  }
  .wrapper .first .first_header_wrapper .first_header .first_header_burger .menu_box {
    width: 330px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider {
    height: 350px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item {
    padding: 5px 50px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item .first_main_slider_text {
    font-size: 36px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider .carousel-item .first_main_slider_text_bottom {
    font-size: 18px;
  }
  .wrapper .first .first_main_wrapper .first_main .first_main_slider .first_main_pointer {
    padding-bottom: 24px;
  }
  .wrapper .second .second_header_wrapper .second_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .second .second_header_wrapper .second_header .header_text p {
    width: 85%;
  }
  .wrapper .second .second_header_wrapper .second_header .second_header_cards {
    justify-content: space-between;
    margin: 24px 0;
  }
  .wrapper .second .second_header_wrapper .second_header .second_header_cards .second_header_card {
    width: 32%;
    text-align: center;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left {
    max-height: none;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left h1 {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 0;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left p {
    margin: 10px 25px 24px;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left .second_footer_left_button {
    margin-bottom: 24px;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_right {
    display: none;
  }
  .wrapper .third .third_header_wrapper .third_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .third .third_header_wrapper .third_header .header_text p {
    width: 85%;
  }
  .wrapper .third .third_header_wrapper .third_header .third_header_nav {
    grid-template-columns: repeat(5, 20%);
    margin: 24px 0 15px;
    height: 25px;
  }
  .wrapper .third .third_header_wrapper .third_header .third_header_nav a {
    font-size: 11px;
  }
  .wrapper .third .third_main_wrapper .third_main {
    grid-template-rows: repeat(1, 175px);
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper {
    height: 100px;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item {
    top: 4%;
    padding: 10px 30px;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-1 .third_slider2,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-1 .third_slider3 {
    display: none;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-2 .third_slider1,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-2 .third_slider3 {
    display: none;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-3 .third_slider1,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-3 .third_slider2 {
    display: none;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-4 .third_slider2,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .item-4 .third_slider3 {
    display: none;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .header_text p {
    width: 85%;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio {
    height: 360px;
    margin: 24px 0;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one {
    width: 33%;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one .fourth_header_portfolio_one_photo {
    margin: 24px 20px 15px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_one .fourth_header_portfolio_one_slider {
    margin-bottom: 24px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two {
    width: 65%;
    padding: 35px 20px 10px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_loaders .fourth_header_portfolio_two_loader .fourth_loder_wrapper {
    width: 60%;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .footer_title h1 {
    font-size: 24px;
    margin: 24px 0 12px;
    text-align: center;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .footer_title h1 .footer_border_bottom {
    margin-top: 10px;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper {
    flex-wrap: wrap;
    margin: 15px 0 24px;
    padding: 0 80px;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper .fourth_footer_item {
    width: 40%;
    padding-bottom: 15px;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper .fourth_footer_item h3 {
    margin: 10px 0;
  }
  .wrapper .fourth .fourth_footer_wrapper .fourth_footer .fourth_footer_items_wrapper .fourth_footer_item p {
    font-size: 36px;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .header_text p {
    width: 85%;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper {
    flex-direction: column;
    margin: 20px 0 24px;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item {
    width: 70%;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item .fifth_heder_item_img .fifth_img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .footer_title h1 {
    font-size: 24px;
    margin: 24px 0 12px;
    text-align: center;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .footer_title h1 .footer_border_bottom {
    margin-top: 10px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper {
    margin: 15px 0;
    flex-wrap: wrap;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item {
    width: 50%;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_top .fifth_item_title_top {
    margin-top: 15px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_top .fifth_item_title_bottom {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_bottom {
    padding-top: 20px;
  }
  .wrapper .fifth .fifth_footer_wrapper .fifth_footer .fifth_footer_items_wrapper .fifth_footer_item .fifth_footer_item_bottom .fifth_item_button {
    width: 80%;
    margin: 15px 0;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .header_title h1 {
    font-size: 32px;
    margin: 24px 0 12px;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .header_text p {
    width: 85%;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form {
    margin: 20px 0 0;
  }
  .wrapper .sixth .sixth_header_wrapper .sixth_header .sixth_header_form .sixth_header_form_button {
    margin: 24px 0;
  }
  .wrapper .footer_wrapper .footer {
    padding: 24px 0 24px;
  }
}
@media (min-width: 801px) and (max-width: 1300px) {
  .wrapper .second .second_header_wrapper .second_header .second_header_cards {
    margin: 55px 0;
  }
  .wrapper .second .second_footer_wrapper .second_footer {
    width: 100%;
    height: 330px;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left {
    width: 50%;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_left p {
    margin: 15px 30px 25px;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_right {
    width: 50%;
  }
  .wrapper .second .second_footer_wrapper .second_footer .second_footer_right video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .third_slider1,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .third_slider2,
.wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .third_slider3 {
    width: 30%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .arrow.arrow-prev {
    left: 50px;
  }
  .wrapper .third .third_footer_wrapper .third_footer .carousel-wrapper .carousel-item .arrow.arrow-next {
    right: 50px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two {
    padding: 80px 80px 68px 64px;
  }
  .wrapper .fourth .fourth_header_wrapper .fourth_header .fourth_header_portfolio .fourth_header_portfolio_two .fourth_header_portfolio_two_loaders .fourth_header_portfolio_two_loader .fourth_loder_wrapper {
    width: 55%;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item {
    width: 32%;
  }
  .wrapper .fifth .fifth_header_wrapper .fifth_header .fifth_header_items_wrapper .fifth_header_item .fifth_heder_item_img .fifth_img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=style.css.map */