// Backgrounds:
$first_header_wrapper_bg: rgb(248, 246, 246);
$first_header_burger_bg: rgb(70, 70, 70);
$first_header_burger_checked_bg: rgb(246, 116, 75);
$first_header_burger_menu_bg: rgb(23, 31, 35);
$first_header_burger_menu_hover_bg: rgb(235, 235, 235);
$first_main_wrapper_bg: rgb(53, 53, 53);
$second_header_wrapper_bg: rgb(255, 255, 255);
$second_header_card_bg: rgb(235, 235, 235);
$second_footer_left_bg: rgb(23, 31, 35);
$third_header_wrapper_bg: rgb(255, 255, 255);
$third_main_wrapper_bg: rgb(232, 76, 61);
$third_footer_wrapper_bg: rgb(28, 28, 28);
$fourth_header_wrapper_bg: rgb(255, 255, 255);
$fourth_header_portfolio_bg: rgb(235, 235, 235);
$fourth_footer_wrapper_bg: rgb(23, 31, 35);
$fifth_header_wrapper_bg: rgb(255, 255, 255);
$fifth_header_item_bg: rgb(235, 235, 235);
$fifth_header_item_img_bg: rgb(120, 116, 116);
$fifth_footer_wrapper_bg: rgb(23, 31, 35);
$fifth_footer_item_top_bg: rgb(14, 19, 22);
$fifth_footer_item_bottom_bg: rgb(31, 40, 44);
$fifth_footer_item_hover_bg: rgb(246, 116, 75);
$sixth_header_wrapper_bg: rgb(255, 255, 255);
$sixth_header_form_input_border: rgb(202, 202, 202);
$sixth_footer_wrapper_bg: rgb(12, 18, 21);
$footer_wrapper_bg: rgb(23, 31, 35);
// Fonts:
$first_header_logo_c: rgb(105, 105, 105);
$first_header_logo_fw: 400;
$first_header_logo_fst: normal;
$first_header_logo_fs: 40px;
$first_header_logo_ls: 0.1em;
$first_header_logo_ff: 'BigNoodleTitling';
$first_main_slider_arrow: rgb(58, 57, 57);